.DS_Store
Thumbs.db
*.log
.vscode/
.trae/
.vercel
.env
.env*.local
.env.local
node_modules/
dist/
*.local
.next/
out/
coverage/
.firebase/
firestore-debug.log
pub-debug.log
ui-debug.log
*.pid
*.seed
*.pid.lock
service-account.json
service-account.*.json

.vercel
.env*
